{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}
<title>{{ title }} - Zarin3</title>
{% else %}
<title>Welcome to Zarin3!</title>
{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    Zarin3:
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('quizsetup') }}">Quiz</a>
    <a href="{{ url_for('lookup') }}">Lookup Word</a>
    <a href="{{ url_for('addword') }}">Add Word</a>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}